@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "poppins";
    background-color: #caf0f8;
    /* height: 100vh; */
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
.container{
    height: 100vh;
    /* width: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container h1{
    font-size: 5.4rem;
    color: #0077b6;
    margin-bottom: 20px;
}
.btn{
    display: block;
    width: 20rem;
    border: 1px solid;
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    border: 0.1rem solid #56a5eb;
    background-color: rgb(225, 232, 240);
    margin-bottom: 1rem;
    color: #5390d9;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transfrom  150ms;
}
.quiz-container{
    
    max-width: 600px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#questions {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
#options{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#options .option{
    padding: 10px 20px;
    border: 1px solid #007BFF;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#options .option:hover {
    background-color: #007BFF;
    color: white; 
   }
#options .option:focus {
    background-color: #007BFF;
    color: white; 
   }

#next {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#next:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}